<a href="https://colab.research.google.com/github/fxf922/tk/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd#pandasのインポート
import datetime#元データの日付処理のためにインポート
from sklearn.model_selection import train_test_split#データ分割用
from sklearn.ensemble import RandomForestClassifier#ランダムフォレスト

In [2]:
df = pd.read_csv(r"/content/drive/MyDrive/Colab Notebooks/ks-projects-201801.csv")

In [3]:
df.shape

(378661, 15)

In [4]:
df.head()

           ID  ... usd_goal_real
0  1000002330  ...       1533.95
1  1000003930  ...      30000.00
2  1000004038  ...      45000.00
3  1000007540  ...       5000.00
4  1000011046  ...      19500.00

[5 rows x 15 columns]

In [5]:
df['deadline'] = pd.to_datetime(df["deadline"])
df["launched"] = pd.to_datetime(df["launched"])
df["days"] = (df["deadline"] - df["launched"]).dt.days

In [6]:
df = df[(df["state"] == "successful") | (df["state"] == "failed")]

In [7]:
df["state"] = df["state"].replace("failed",0)
df["state"] = df["state"].replace("successful",1)

In [8]:
df = df.drop(["ID","name","deadline","launched","backers","pledged","usd pledged","usd_pledged_real","usd_goal_real"], axis=1)

In [9]:
df = pd.get_dummies(df,drop_first = True)

In [10]:
train_data = df.drop("state", axis=1)
y = df["state"].values
X = train_data.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1234)

In [11]:
clf = RandomForestClassifier(random_state=1234)
clf.fit(X_train, y_train)
print("score=", clf.score(X_test, y_test))

score= 0.6488749082942222